.container__empty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

.card__empty {
    display: grid;
    gap: 1rem;
    border-radius: .2rem;
    padding: 0.1rem 1rem 1.5rem 1rem;
    background-color: white;
}

.info__alert {
    color: #FFBF00;
    font-size: 4.5rem;
    text-align: center;
    text-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: zoom 1s ease-in-out infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}