@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Questrial', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}